.profile {
  display: flex;
  max-width: 1280px;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: space-between;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__avatar-btn {
  position: absolute;
  left: 39px;
  top: 162px;
  background: transparent;
  border: none;
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  width: 97px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 0.7;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: 413px;
  background-color: #fcf5e5;
  border: none;
  height: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  display: inline-flex;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}
.profile__edit-btn:hover {
  opacity: 0.7;
}

.profile__add-btn {
  margin-left: auto;
  margin-right: 8px;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  margin-top: auto;
  background: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}
.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__avatar-btn {
    top: 52px;
    left: 52px;
    padding: 4px;
    font-size: 0;
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__edit-btn {
    margin-right: 0;
  }

  .profile__add-btn {
    margin-left: 0;
    width: 100%;
  }
}
